# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

.cache
.local
/straight
cnfonts/
url/
.lsp-session-v1
projectile.cache
/eshell
/elpa
/org-roam.db
.org-id-locations
/transient